.why-hire-section {
  margin-top: 20px;
}

.why-text {
  text-align: justify;
  font-size: 0.97rem;
  background: #fff8e6;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid #f4b400;
}
