<h2>List from Main</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    @for (user of httpusers; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.website }}</td>
      </tr>
    }
  </tbody>
</table>



<h2>Photos (First 5)</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Thumbnail</th>
    </tr>
  </thead>

  <tbody>
    @for (photo of photos(); track photo.id) {
      <tr>
        <td>{{ photo.id }}</td>
        <td>{{ photo.title }}</td>
        <td>
          <img 
            [src]="photo.thumbnailUrl" 
            alt="photo thumbnail"
            width="80"
          />
        </td>
      </tr>
    }
  </tbody>
</table>

<router-outlet />