<div class="card">
  <h2>Reactive Form Demo</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input class="input" placeholder="Username" formControlName="username" />
    <small class="error" *ngIf="isInvalid('username')">4-12 chars (letters/numbers/_)</small>

    <input class="input" type="email" placeholder="Email" formControlName="email" />
    <small class="error" *ngIf="isInvalid('email')">Enter a valid email</small>

    <input class="input" type="password" placeholder="Password" formControlName="password" />
    <small class="error" *ngIf="isInvalid('password')">8+ chars, Upper, Lower, Number</small>

    <select class="input" formControlName="role">
      <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
    </select>

    <div class="group">
      <label>Gender:</label>
      <input type="radio" formControlName="gender" value="Male"> Male
      <input type="radio" formControlName="gender" value="Female"> Female
      <small class="error" *ngIf="isInvalid('gender')">Required</small>
    </div>

    <div class="group">
      <label>Status:</label>
      <input type="radio" formControlName="status" value="Permanent"> Permanent
      <input type="radio" formControlName="status" value="Probationary"> Probationary
      <small class="error" *ngIf="isInvalid('status')">Required</small>
    </div>

    <textarea class="input" placeholder="Comments" formControlName="comments"></textarea>

    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>
